@font-face {
  font-family: 'BarlowCondensed';
  src: url('/fonts/BarlowCondensed-Regular.ttf') format('truetype');
  font-weight: normal;
}

/* @font-face {
  font-family: 'BarlowCondensed';
  src: url('/fonts/BarlowCondensed-SemiBold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'BarlowCondensed';
  src: url('/fonts/BarlowCondensed-Medium.ttf') format('truetype');
  font-weight: medium;
} */


body {
    background-color: #190627;
    margin: 0;
    color: aliceblue;
    font-family: 'BarlowCondensed', sans-serif;
}

#main {
    margin: 0;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif */
}

#links {
    width: 400px;
    text-align: left;
    font-size: x-large;
    color: white;
    display: flex;
    flex-direction: column;
}

#links a {
    color: white;
    text-decoration: none;
    margin-top: 20px;
    margin: 10px;
    border: white 1px solid;
    border-radius: 5px;
    padding: 10px;
}

#links a:hover {
    background-color: #1f1f1f;
    cursor: pointer;
}

#header {
    max-width: 1200px;
}

.blogs-container {
  height: calc(100vh - var(--dimension));
  background-color: var(--color);
  position: relative;
}

.center-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 350px;
  height: 300px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  filter: invert(1);
  background-image: url("/logos/rust-logo.png");
}

.center-content.p1 {
  position: absolute;
  top: 60%;
  left: 50%;
  background-size: 100%;
  transform: translate(-50%, -50%);
  width: 350px;
  height: 300px;
  filter: unset;
  background-image: url("/header.svg");
}
